<%= render "layouts/navigation" %>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Häufig gestellte Fragen</h3>
      <hr />
      <% @faq.each do |pair| %>
      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title"><%= pair[0] %></h5>
          <hr />
          <p class="card-text"><%= pair[1] %></p>
        </div>
      </div>
      <% end %>

      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title">Ich bin eine Lehrperson. Kann ich den Kurs für meine Schülerinnen und Schüler oder für meine Studierenden brauchen?</h5>
          <hr />
          <p class="card-text">Ja! Sie können den <b>Punktestand</b> und <b>Fortschritt</b> Ihrer Schülerinnen und Schüler oder Studierenden sehen, wenn sie eine Klasse erstellen.</p>
          <p class="card-text">Weitere Informationen finden Sie hier: <%= link_to "Informationen für Lehrpersonen", klasse_path %></p>
        </div>
      </div>

      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title">Ich habe Schwierigkeiten. Wo bekomme ich Hilfe?</h5>
          <hr />
          <p class="card-text">Bitte schreiben Sie eine Mail an Sandro Räss: <%= mail_to "sandro.raess@philosophie.ch", "e-Mail" %></p>
        </div>
      </div>

      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title">Ich habe Verbesserungsvorschläge. Wem kann ich schreiben?</h5>
          <hr />
          <p class="card-text">Bitte schreiben Sie eine Mail an Sandro Räss: <%= mail_to "sandro.raess@philosophie.ch", "e-Mail" %></p>
        </div>
      </div>

      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title">Ich habe eine Frage zum Lernkurs. Wem kann ich schreiben?</h5>
          <hr />
          <p class="card-text">Bitte schreiben Sie eine Mail an Sandro Räss: <%= mail_to "sandro.raess@philosophie.ch", "e-Mail" %></p>
        </div>
      </div>

    </div>
  </section>
</main>


<%= render "layouts/footer" %>
