<%= render "layouts/navigation" %>

<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Informationen für Lehrpersonen</h1>
          <p class="lead text-muted">
            Möchten Sie den Lernkurs für Ihre Klasse verwenden? So geht's!
          </p>
        </div>
      </section>
    </main>

    <div class="album py-5 philosopiech-background">
      <div class="container">

        <div class="card my-2">
          <div class="card-body">
            <p class="card-text">
              Dieser Lernkurs für Ethik richtet sich an alle,
              die sich <b>zum ersten Mal</b> mit Ethik beschäftigen.
            </p>
            <p class="card-text">
              Er vermittelt Grundtheorien. auf interaktivem Weg.
            </p>
            <p class="card-text">
              Es ist <b>keine</b> Registrierung oder Anmeldung nötig.
              Es müssen <b>keine</b> e-Mail-Adressen oder Telefon-Nummern angegeben werden.
            </p>
            <p class="card-text">
              Der Lernkurs besteht aus mehreren <b>Teilkursen</b>.
              Für
            </p>
            <p class="card-text">
              Für diesen Lernkurs braucht man:
              <ul>
                <li>
                  Ein <b>Smartphone</b> oder ein <b>Tablet</b> mit Internetzugang.
                </li>
                <li>
                  Eine <b>Internetverbindung</b>.
                </li>
              </ul>
            </p>
            <p class="card-text">
              Dieser Lernkurs ist so konzipiert,
              das er mit einem <b>Smartphone</b> oder mit einem <b>Tablet</b>
              absolviert werden kann.
            </p>
            <p class="card-text">
              Während dem Lernkurs gibt es <b>interaktive Übungen</b>.
            </p>
            <p class="card-text">
              Wenn diese interaktive Übungen gelöst werden,
              erhaltet man Punkte.
            </p>
          </div>
        </div>

        <div class="card my-2">
          <div class="card-body">
            <p class="card-text">
              Mit dieser Anleitung können Sie den <b>Punktestand</b> und <b>Fortschritt</b> Ihrer Schulkinder oder Ihrer Studierenden sehen.
            </p>
          </div>
        </div>

        <div class="card my-2">
          <div class="card-body">
            <h5 class="card-title">1. Schreiben Sie sich den untenstehenden Link auf</h5>
            <p id="link-to-remember" class="rounded border p-3">
              <%= link_to "www.lernkurs.philosophie.ch/klasse/#{@code}", group_overview_path(code: @code) %>
            </p>
            <p>
              Mit diesem Link gelangen Sie zur <b>Übersichtsseite</b>,
              auf der Sie den <b>Punktestand</b> und <b>Fortschritt</b>
              Ihrer Klasse sehen können.
            </p>
          </div>
        </div>

        <div class="card my-2">
          <div class="card-body">
            <h5 class="card-title">2. Schicken Sie den untenstehenden Link an Ihre Schulkinder oder an Ihre Studierenden</h5>
            <p id="link-to-send" class="rounded border p-3">
              <%= link_to "www.lernkurs.philosophie.ch/register/#{@code}", register_path(code: @code) %>
            </p>
            <p>
              Auf dieser Seite werden die Schulkinder oder Studierenden aufgefordert,
              ihre Vornamen einzugeben. <b>Sobald sie ihre Vornamen eingegeben haben,
              wurden ihre Geräte registriert und werden auf der Übersichtsseite sichtbar.</b>
            </p>
          </div>
        </div>

        <div class="card my-2">
          <div class="card-body">
            <h5 class="card-title">3. Mit Lernkurs beginnen!</h5>
            <p>
              Nachdem sich die Schulkinder oder Studierenden angemeldet haben,
              sind sie auf der <%= link_to "Startseite", root_path %>. Von dort aus können sie einen Kurs starten,
              wenn sie bei einem Kurs auf "Mit Kurs anfangen" klicken.
            </p>
          </div>
        </div>

      </div>
    </div>

<%= render "layouts/footer" %>

<script>
  $( document ).ready(function() {
    console.log("klasse loaded!");

    $( "#checkabbreviation" ).click(function() {
      var abbreviation = $('input[name="abbreviation"]').val().toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');
      console.log(abbreviation);

      $.ajax({
        url: "/check_group",
        method: 'GET',
        data: { code: abbreviation},
        headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
      }).done(function(data) {
        if(data === true){
          $("#result-of-check")
            .text("Abkürzung ist leider schon vergeben!")
            .animate({
              color: "white",
              backgroundColor: "red"
            });
        } else {
          $("#result-of-check")
          .text("Abkürzung ist noch frei!")
          .animate({
            color: "white",
            backgroundColor: "green"
          });

          $("#link-to-remember")
          .text("www.lernkurs.philosophie.ch/klasse/" + abbreviation);

          $("#link-to-send")
          .text("www.lernkurs.philosophie.ch/register/" + abbreviation);
        }

      });


    });

  });
</script>
