<div class="container">
  <h3>Übersicht</h3>
  <p>
    <b>Accounts:</b> <%= @accounts.count %>
  </p>
  <hr />
  <% @accounts.each do |account| %>
    <b>ID: </b> <%= account.id %>
    <br />
    <b>Attendances: </b> <%= account.attendances.count %>
    <hr />
    <% account.attendances.each do |attendance| %>
      Course: <%= attendance.course.title %>
      <hr />
      Points: <%= attendance.points %>
      <hr />
      Current Slide: <%= attendance.current_slide %>
      <hr />
    <% end %>
  <% end %>
</div>
