<div class="container">
  <h3 class="text-center">Übersicht</h3>
  <hr />
  <% @accounts.each do |account| %>
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title"><%=account.id%>: <%= account.firstname %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Punktestand: <%= account.total_score %></h6>
          <hr />
        <p class="card-text">
          <% if Course.where(id: account.current_course_id).empty? %>
            <%= account.firstname %> hat noch keinen Kurs angefangen.
          <% else %>
            <%= account.firstname %> ist aktuell im Kurs: <b><%= Course.find(account.current_course_id).title %></b>
          <% end %>
        </p>
        <p class="card_text">
          Anzahl abgeschlossener Kurse: <b><%= account.attendances.where(status: "COMPLETED").count %></b>
        </p>
        <%= link_to "Zum Profil", account_path(account), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>
