<%= render "layouts/navigation" %>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Ideen für Merchandise</h3>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Philosophie.ch-Logo</h2>
        <p class="lead">T-Shirt mit Philosophie.ch-Logo</p>
        <p class="lead">2 Varianten: Weiss und Schwarz</p>

      </div>
      <div class="col-md-5">
        <%= image_tag("philologotshirt.png", class:"img-fluid mx-auto") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Philosophische Zitate</h2>
        <hr />
        <p>
          Weitere Ideen für Zitate sind weiter unten zu finden.
        </p>
        <% sayings = [
          ["I know that I know nothing.", "Socrates"],
          ["The unexamined life is not worth living.", "Socrates"],
          ["The whole is more than the sum of its parts.", "Aristotle"],
          ["Cogito ergo sum.", "René Descartes"],
          ["Wittgenstein", "Wittgenstein"],
          ["Bertrand Russell", "Bertrand Russel"],
          ["Nietzsche", "Nietzsche"],
          ["Searle: If you can't explain it you don't know it", "Searle"],
          ["maximum happiness", "Jeremy Bentham"],
          ["Der Widerspruch hält den Philosophen am Leben.", "Ela M."],
          ["La victoire sur soi est la plus grande des victoires.", "Platon"],
          ["Il n'y a point de génie sans un grain de folie.", "Aristote"],
          ["C'est dans le vide de la pensée que s'inscrit le mal.", "Hannah Arendt"],
          ] %>

        <% sayings.each do |saying| %>
              <blockquote class="blockquote mb-0">
                <p><%= saying[0]%></p>
                <cite title="Source Title"><%= saying[1]%></cite>
              </blockquote>
              <hr />
        <% end %>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag("iknownothing.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("unexaminedlife.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("hannaharendt.png", class:"img-fluid mx-auto") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">"Philosophische" Bilder</h2>
        <p class="lead">
          Eule, Owl of Athena
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Kralle, die philosophische Katze</h2>
        <p class="lead">
          Ausgewählte Bilder
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Logik</h2>
        <p class="lead">
          Wahrheitsbäume, Wahrheitstafel, Prädikatenlogik, Modallogik
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("truthtree.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("truthtable.png", class:"img-fluid mx-auto") %>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Büsten</h2>
        <p class="lead">
          Aristotle, Plato, Socrates
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Das gute Leben</h2>
        <p class="lead">
          Gutes Leben
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Geschäft der Philosophen</h2>
        <p class="lead">
          Logik, Analyse Philosophie.ch.
          3-er
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">"Schlagworte"</h2>
        <p class="lead">
          Erkenntnistheorie?
          Philosophie.ch
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">

    </div>
  </section>
</main>

<%= render "layouts/footer" %>
