<%= render "layouts/navigation" %>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Ideen für Merchandise</h3>

      <p>
        Professionell:
         <a href="https://the-philosophers-shirt.com/" target="_blank">https://the-philosophers-shirt.com/</a>
      </p>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Philosophie.ch-Logo</h2>
        <p class="lead">T-Shirt mit Philosophie.ch-Logo</p>
        <p class="lead">2 Varianten: Weiss und Schwarz</p>

      </div>
      <div class="col-md-5">
        <%= image_tag("philologotshirt.png", class:"img-fluid mx-auto") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Philosophische Zitate</h2>
        <p>
          Weitere Ideen für Zitate sind weiter unten zu finden.
        </p>
        <hr />
        <% sayings = [
          ["I know that I know nothing.", "Socrates"],
          ["The unexamined life is not worth living.", "Socrates"],
          ["C'est dans le vide de la pensée que s'inscrit le mal.", "Hannah Arendt"],
          ] %>

        <% sayings.each do |saying| %>
              <blockquote class="blockquote mb-0">
                <p><%= saying[0]%></p>
                <cite title="Source Title"><%= saying[1]%></cite>
              </blockquote>
              <hr />
        <% end %>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag("iknownothing.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("unexaminedlife.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("hannaharendt.png", class:"img-fluid mx-auto") %>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Geschäft der Philosophen</h2>
        <p class="lead">
          Logik, Analyse, Begriffsklärung, Argumentation
        </p>
        <p>
          Der zwanglose Zwang des besseren Arguments?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Bruchsch Analyse?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Wetsch Argument?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Gelangweilt von schlechten Argumenten?
        </p>
        <p>
           Hol dir bessere auf Philosophie.ch!
        </p>
        <hr />
        <p>
          Diskursanalyse?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Logik?
        </p>
        <p>
          Gibt's auf Philosophie.ch
        </p>
        <hr />
        <p>
          Think outside the box?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Öhm, Metaphysik?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Moralischer Kompass?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Kritisches Denkvermögen?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Was isch scho wieder Ethik?
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Frog mich was über Logik!
        </p>
        <p>
          Philosophie.ch
        </p>
        <hr />
        <p>
          Du hesch trainiert, aber ich han Argument
        </p>
        <p>
          Philosophie.ch
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("logikanalyseargument.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("begriffsanalyse.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("analysenotig.png", class:"img-fluid mx-auto") %>
        <hr />
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Logos</h2>
        <p class="lead">
          Logos, die irgendwie zu Philosophie passen
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("phi.png", class:"img-fluid mx-auto")  %>
        <hr />
        <%= image_tag("logikrocks.png", class:"img-fluid mx-auto")  %>
        <hr />
        <%= image_tag("lovediskursanalyse.png", class:"img-fluid mx-auto")  %>
        <hr />
        <%= image_tag("athenshirt.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("eudaimoniatree.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("logoauswahl2.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("logoauswahl3.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("logoauswahl4.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("logoauswahl5.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("owlmini.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("pictoowl.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("logoauswahl1.png", class:"img-fluid mx-auto")  %>
        <hr />
        <%= image_tag("philokompass.png", class:"img-fluid mx-auto")  %>
        <hr />
        <%= image_tag("philoantik.png", class:"img-fluid mx-auto")  %>
        <hr />
        <%= image_tag("politiphilo.png", class:"img-fluid mx-auto")  %>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Logik</h2>
        <p class="lead">
          Wahrheitsbäume, Wahrheitstafel, Prädikatenlogik, Modallogik
        </p>
        <p>
          "Nerdy".
        </p>
      </div>
      <div class="col-md-5">
        <h5><u>Transitivität</u></h5>
        <%= image_tag("equation.png", class:"img-fluid mx-auto") %>
        <hr />
        <h5><u>Modal-Logik</u></h5>
        <%= image_tag("modallogic.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("truthtree.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("truthtable.png", class:"img-fluid mx-auto") %>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Kralle, die philosophische Katze</h2>
        <p class="lead">
          Ausgewählte Bilder
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("sprachebild.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("kralleknowledge.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("cogito.png", class:"img-fluid mx-auto") %>
        <hr />
    </div>
  </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Büsten</h2>
        <p class="lead">
          Aristotle, Plato, Socrates, Denker
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("shopishirt.png", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("denker.jpg", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("denker1.jpg", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("bust1.jpg", class:"img-fluid mx-auto") %>
        <hr />
        <%= image_tag("bust2.jpg", class:"img-fluid mx-auto") %>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette pt-5">
      <div class="col-12">
        <h2 class="featurette-heading">Sonstiges</h2>
        <hr />
        <% sayings = [
          ["What would Kant do?", "Philosophie.ch"],
          ["Let's calculate!", "Jeremy Bentham"],
          ["My friends are:", "Kant, Nietzsche and Foucault"],
          ["My tools are:", "Deduction, Analysis and Scepticism"]
          ] %>

        <% sayings.each do |saying| %>
              <blockquote class="blockquote mb-0">
                <p><%= saying[0]%></p>
                <cite title="Source Title"><%= saying[1]%></cite>
              </blockquote>
              <hr />
        <% end %>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette pt-5">
      <div class="col-12">
        <h2 class="featurette-heading">Ausgewählte Zitate</h2>
        <hr />
        <% sayings = [
          ["I know that I know nothing.", "Socrates"],
          ["The unexamined life is not worth living.", "Socrates"],
          ["The whole is more than the sum of its parts.", "Aristotle"],
          ["Cogito ergo sum.", "René Descartes"],
          ["Sapere Aude!", "Kant"],
          ["If you can't say it clearly you don't understand it yourself.", "John Searle"],
          ["...the rarest of all human qualities is consistency.", "Jeremy Bentham"],
          ["The greatest good for the greatest number.", "Jeremy Bentham"],
          ["The question is not, 'Can they reason?' nor, 'Can they talk?' but rather, 'Can they suffer?'", "Jeremy Bentham"],
          ["Der Widerspruch hält den Philosophen am Leben.", "Ela M."],
          ["Die Menschen werfen alle ihre Dummheiten auf einen Haufen, konstruieren ein Ungeheuer und nennen es Schicksal.", "Thomas Hobbes"],
          ["The whole problem with the world is that fools and fanatics are always so certain of themselves, and wiser people so full of doubts.", "Bertrand Russell"],
          ["Philosophieren heisst zweifeln.", "Michel de Montaigne"],
          ["Die Philosophie ist ein Kampf gegen die Verhexung unseres Verstandes durch die Mittel unserer Sprache.", "Ludwig Wittgenstein"],
          ["Die Grenzen meiner Sprachen bedeuten die Grenzen meiner Welt.", "Ludwig Wittgenstein"],
          ["Die Philosophie ist keine Lehre, sondern eine Tätigkeit.", "Ludwig Wittgenstein"],
          ["La victoire sur soi est la plus grande des victoires.", "Platon"],
          ["Il n'y a point de génie sans un grain de folie.", "Aristote"],
          ["C'est dans le vide de la pensée que s'inscrit le mal.", "Hannah Arendt"],
          ["Connais-toi toi-même.", "Socrate"],
          ["Le faire est révélateur de l'être.", "Jean-Paul Sartre"],
          ["Gestern? Ich hätte das gestern machen sollen?", "Sandro Räss"]
          ] %>

        <% sayings.each do |saying| %>
              <blockquote class="blockquote mb-0">
                <p><%= saying[0]%></p>
                <cite title="Source Title"><%= saying[1]%></cite>
              </blockquote>
              <hr />
        <% end %>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
  </section>
</main>

<%= render "layouts/footer" %>
