<%= render "layouts/navigation" %>

<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Was ist Ethik?</h1>
          <p class="lead text-muted">
            Finde es heraus in diesem interaktiven Lernkurs!
          </p>
          <p>
            <div align="center">
              <%= link_to course_path(Course.find_by_title("Einführung in die Ethik")) do %>
                <button class="pulse-button rounded text-white">Mit Kurs anfangen</button>
              <% end %>
            </div>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <% @courses.in_groups_of(3, false).each do |groups| %>
              <div class="card-deck">
                  <% groups.each do |course| %>
                  <div class="card mb-4">
                    <% if false %>
                        <%= image_tag course.avatar, class: "card-img-top" %>
                        <% else %>
                        <%= image_tag(course.name_of_picture, class: "card-img-top") %>
                    <% end %>
                    <div class="card-body">
                      <h5 class="card-title"><b><%= course.title %></b></h5>
                      <p class="card-text"><%= course.description %></p>

                    </div>
                    <div class="card-footer">
                      <%= link_to 'Mit Kurs anfangen', course_path(course), class: "btn btn-info text-white" %>
                    </div>
                  </div>
                  <% end %>
              </div>
          <% end %>
        </div>
      </div>

    </main>

<%= render "layouts/footer" %>
