
<%= simple_form_for(application) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-6">
        <%= f.input :firstname, placeholder: 'Max', required: true %>
      </div>
      <div class="col-6">
        <%= f.input :lastname, placeholder: 'Mustermann', required: true %>
      </div>
    </div>
    <hr />
    <%= f.input :street, placeholder: 'Hauptstrasse 5', required: true %>
    <div class="row">
      <div class="col-6">
        <%= f.input :city, placeholder: 'Zürich', required: true %>
      </div>
      <div class="col-6">
        <%= f.input :plz, placeholder: '8000', required: true %>
      </div>
    </div>
    <hr />
    <%= f.input :email, placeholder: 'max@mustermann.ch', required: true %>
    <%= f.input :telefon, placeholder: '0791234567', required: true %>
    <hr />
    <%= f.input :payment, as: :radio_buttons, collection: [["Rechnung", "Rechnung"]], label_method: :second, value_method: :first, label: "Rechnungsart", required: true %>
    <%= f.input :motivation, label: "Was motiviert mich für den Kurs?", required: true %>
    <%= f.input :expectation, label: "Was erwarte ich vom Kurs?", required: true %>
    <%= f.input :education, label: "Welche Vorbildung habe ich?", required: true %>
    <%= f.input :thoughts, label: "Ich habe mir bereits folgende Gedanken zum Thema gemacht: " %>
    <%= f.input :aboutme, label: "Über meine Person und meinen Werdegang: " %>
    <%= f.input :food, label: "Essen: Unverträglichkeiten" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-dark btn-lg" %>
  </div>
<% end %>
