<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @application.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @application.lastname %>
</p>

<p>
  <strong>Street:</strong>
  <%= @application.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @application.city %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @application.plz %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @application.telefon %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @application.payment %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @application.motivation %>
</p>

<p>
  <strong>Expectation:</strong>
  <%= @application.expectation %>
</p>

<p>
  <strong>Thoughts:</strong>
  <%= @application.thoughts %>
</p>

<p>
  <strong>Aboutme:</strong>
  <%= @application.aboutme %>
</p>

<p>
  <strong>Food:</strong>
  <%= @application.food %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
