<p id="notice"><%= notice %></p>

<h1>Newsletters</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Purpose</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.email %></td>
        <td><%= newsletter.purpose %></td>
        <td><%= link_to 'Show', newsletter %></td>
        <td><%= link_to 'Edit', edit_newsletter_path(newsletter) %></td>
        <td><%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= link_to "Remove", remove_newsletter_from_list_path(email: newsletter.email), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsletter', new_newsletter_path %>
