<% if @account.courses.include?(course) %>

  <% if @account.attendances.where(course_id: course.id).first.status == 'COMPLETED' %>
  <div class="card mb-4 completed-background">
    <%= image_tag(course.name_of_picture, class: "card-img-top") %>
    <%#= image_tag("green-check-mark.png", class: "card-img-overlay") %>
    <div class="card-body">
      <h5 class="card-title"><b><%= course.title %></b></h5>
      <hr />
      <p class="card-text">
        <b>Gesammelte Punkte: </b> <%= @account.attendances.where(course_id: course.id).first.points %>
      </p>
      <hr />
      <% unless @account.attendances.where(course_id: course.id).first.orden.blank? %>
        <p class="card-text">
          <b>Erhaltener Orden: </b>
        </p>
        <div class="text-center rounded border bg-white p-2 my-3">
          <%= image_tag(@account.attendances.where(course_id: course.id).first.orden, class: "img-fluid") %>
        </div>
        <% else %>
          <p class="card-text">
            Keinen Orden erhalten.
            <b>Versuche es nochmal!</b>
          </p>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to "Kurs wiederholen", course_path(course), class: "start-course-button" %>
    </div>
  </div>
  <% else %>
  <div class="card mb-4 started-background">
    <%= image_tag(course.name_of_picture, class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><b><%= course.title %></b></h5>
      <hr />
      <p class="card-text">
        <b>Gesammelte Punkte: </b> <%= @account.attendances.where(course_id: course.id).first.points %>
      </p>
      <hr />
      <p class="card-text"><%= course.description %></p>

    </div>
    <div class="card-footer">
      <%= link_to "Kurs fortsetzen", course_path(course), class: "start-course-button" %>
    </div>
  </div>

  <% end %>

  <% else %>
  <div class="card mb-4 unstarted-background">
    <%= image_tag(course.name_of_picture, class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><b><%= course.title %></b></h5>
      <hr />
      <p class="card-text"><%= course.description %></p>
      <hr />
      Dauer: <b><%= course.duration %></b>

    </div>
    <div class="card-footer">
      <%= link_to 'Mit Kurs anfangen', course_path(course), class: "start-course-button" %>
    </div>
  </div>

<% end %>
