<div class="album py-5 bg-light">
  <div class="container">
    <% courses.in_groups_of(3, false).each do |groups| %>
        <div class="card-deck">
            <% groups.each do |course| %>
            <div class="card mb-4">
              <% if false %>
                  <%= image_tag course.avatar, class: "card-img-top" %>
                  <% else %>
                  <%= image_tag(course.name_of_picture, class: "card-img-top") %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><b><%= course.title %></b></h5>
                <p class="card-text"><%= course.description %></p>

              </div>
              <div class="card-footer">
                <% if @account.courses.include?(course) %>
                  <%= link_to 'Kurs fortsetzen', course_path(course), class: "btn btn-info text-white" %>
                <% else %>
                  <%= link_to 'Mit Kurs anfangen', course_path(course), class: "btn btn-info text-white" %>
                <% end %>
              </div>
            </div>
            <% end %>
        </div>
    <% end %>
  </div>
</div>
