<div class="text-center">
  <button type="button" id="get-previous-slide" class="previous-next-button get-slide-button <%= "invisible" if current_slide <= 0 %> mx-2" slide="<%= current_slide - 1 %>">Zurück</button>
  <%= current_slide + 1 %> / <%= course.slides.count %>
  <button type="button" id="get-next-slide" class="previous-next-button get-slide-button <%= "invisible" if current_slide == course.slides.count-1 %> mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
</div>
