<div class="text-center">
  <% if current_slide <= 0 %>
    <button type="button" class="previous-next-button get-slide-button disabled mx-2" disabled>Zurück</button>
  <% else %>
    <button type="button" id="get-previous-slide" class="previous-next-button get-slide-button mx-2" slide="<%= current_slide - 1 %>">Zurück</button>
  <% end %>
  <%= current_slide + 1 %> / <%= course.slides.count %>
  <% if current_slide == course.slides.count-1 %>
    <button type="button" class="previous-next-button get-slide-button disabled mx-2" disabled>Weiter</button>
  <% else %>
    <button type="button" id="get-next-slide" class="previous-next-button get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
  <% end %>
  |
  <button type="button" class="ml-1 btn btn-info" data-toggle="modal" data-target="#statusModal">
    <%= fa_icon "user-circle" %>
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lernkurs Philosophie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "/courses/status", account: @account, course: course %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>
