<p>
  Welcher Nutzen und welcher Schaden bränge das folgendes Gesetz?
</p>
<p>
  <em>
    Arbeitslose müssen ein gut sichtbares, gelbes Armband tragen.
  </em>
</p>
<hr />
<label>Nutzen / Schaden</label>
<div class="input-group input-group-lg mb-3">
  <input type="text" name="name" class="form-control" placeholder="z.B. Anreiz, Arbeit zu suchen">
</div>

  <label>Wert</label>
  <select class="form-control" id="valueforname" name="value">
    <% (-20..20).reverse_each do |i| %>
      <% if i == 0 %>
        <option value="<%= i %>" selected>Auswählen</option>
      <% else %>
        <option value="<%= i %>">
          <%= i %>
        </option>
      <% end %>
    <% end %>
  </select>

<hr />
<button type="button" id="addvaluetorechnung" class="btn btn-info get-slide-button mx-2">Hinzufügen</button>

<hr />
<p>
    <b>Nutzen und Schaden:</b>
</p>
<div class="row rounded border" id="rechnungtable">
</div>

<b>Gesamtnutzen: </b> <span id="gesamtnutzen"></span>



<!-- Modal -->
<div class="modal fade" id="porgnutzen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          Welcher <b>Nutzen</b> hätte folgendes Gesetz?
        </p>
        <p>
          <em>
            Arbeitslose müssen ein gut sichtbares, gelbes Armband tragen.
          </em>
        </p>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nutzen</label>
          <input type="email" class="form-control" name="name" placeholder="z.B. Anreiz, Arbeit zu suchen">

          <label>Wert:</label>
          <select class="form-control" id="valueforname" name="value">
            <% (-20..20).each do |i| %>
              <% if i == 0 %>
                <option value="0" selected>Auswählen</option>
              <% else %>
                <option value="<%= i %>">
                  <%= i %>
                </option>
              <% end %>
            <% end %>
          </select>
        </div>
        <hr />
        <button type="button" id="addvaluetorechnung" class="btn btn-info get-slide-button mx-2">Hinzufügen</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("porg loaded!");
    setOrden(2, "rechner-badge.png");
    var entries = 0;
    var sum = 0;
    //addPointsToCourse(2, "utilubung4", points);

    var points = 100;
    //$('#porgnutzen').modal('show');

    $( "#addvaluetorechnung" ).click(function() {
      var text = $('input[name="name"]').val();
      //var value = $('#valueforname').find(":selected").val();
      var value = $('#valueforname :selected').val();
      sum = sum + parseInt(value);
      entries = entries + 1;

      $('#rechnungtable').fadeOut(300).fadeIn(500);

      $("#rechnungtable").append(
        `
        <div class="col-12 px-2 py-1" id="entries-${entries}">
          ${text}
          <div class="float-right">+${value}</div>
        </div>
        `
      );

      if(value > 0){
        $('#entries-' + entries).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200);
      } else {
        $('#entries-' + entries).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
      }

      $('input[name="name"]').val("");
      $("#valueforname").val(0);

      $("#gesamtnutzen").empty().append(sum);

    });
  });
</script>
