
  <div class="collapse philosopiech-background-lighten" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>Über uns</h4>
          <p class="text-muted text-justify">
            Die <u><a href="https://www.philosophie.ch">Online-Anlaufstelle Philosophie.ch</a></u> gibt der Öffentlichkeit ein Instrument zur Hand sich über die akademische Philosophie und Forschung, sowie über andere philosophische Aktivitäten in der Schweiz zu informieren.
          </p>
          <p class="text-muted text-justify">
            Dieser Lernkurs wurde durch die grosszügige Unterstützung der <u><a href="http://www.ernst-goehner-stiftung.ch/">Ernst Göhner Stiftung</a></u> ermöglicht.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Kontakt & Links</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.philosophie.ch" target="_blank">Philosophie.ch</a></li>
            <li><a href="http://www.ernst-goehner-stiftung.ch/" target="_blank">Ernst Göhner Stiftung</a></li>
            <li><%= link_to "Häufig gestellte Fragen", faq_path %></li>
            <li><%= link_to "Informationen für Lehrpersonen", klasse_path %></li>
            <li><a href="https://www.philosophie.ch/ueber/kontakt-service/datenschutz" target="_blank">Impressum</a></li>
            <li><%= mail_to "sandro.raess@philosophie.ch", "e-Mail" %></li>
          </ul>
          <hr />
          <ul class="list-unstyled">
            <li><%= link_to "Mein Profil", account_path(@account) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-light bg-faded philosopiech-background box-shadow" style="min-height: 155px;">
    <div class="container d-flex justify-content-between">
      <%= link_to root_path do %>
          <div class="navbar-brand d-inline"><%= image_tag("logo.png", height: '40') %></div>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
